bin/
obj/
.vs/
.idea/
*.user
*.suo
*.ps1

.env
**/appsettings.Development.json
**/Properties/launchSettings.json

data/registry/*
!data/registry/.gitkeep

src/**/bin/
src/**/obj/
tests/**/bin/
tests/**/obj/
